html,
body,
#root {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}


.nh-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  background-image: url('./assets/mic-grad.jpg');
  background-repeat: no-repeat;
}

.nh-content {
  transition: margin 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  margin-top: 25vh;
}

.nh-content.ng-shrink {
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  margin-top: 5vh;
}

.nh-content.ng-shrink .nh-logo{
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: scale(0.8);
}

.nh-logo {
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  width: 350px;
  transform: scale(1);
}

#nh-song-search {
  transition: width 0.3s ease-in-out;
  outline: none;
  border: none;
  width: 300px;
  padding: 15px;
  margin: 30px 0px;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  border: 2px solid transparent;
}

#nh-song-search:hover {
  transition: all 0.3s ease-out;
  /* transform: scale(1.02); */
  /* border: 2px solid black; */
  /* box-shadow: 0px 0px 13px rgb(255, 255, 255); */

}

#nh-song-search:focus {
  transition: all 0.3s ease-out;
  /* transform: scale(1.01); */
  /* border: 2px solid grey;
  box-shadow: 0px 0px 5px rgb(255, 255, 255); */
}

#nh-suggestions-pages-container {
  background-color: rgb(237 237 237);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0px;
  /* max-width: 1200px; */
  /* margin: auto; */
  /* display:grid;
  grid-gap: 10px;
  grid-template-columns: 300px; */
}

.nh-lyrics-overlay-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.767);
  width: 100%;
  height: 100%;
  overflow: scroll;
  visibility: hidden;
}

.nh-lyrics-overlay-container.show__lyrics {
  visibility: visible;
  animation: fade-in 0.3s ease-in;
}

.nh-lyrics-content {
  background-color: white;
  padding: 10px;
  margin: 30px auto;
  border-radius: 10px;
  text-align: center;
  width:300px;
  display: flex;
  flex-direction: column;
}



.nh-lyrics__album-cover {
  width: 100%;
  border-radius: 10px;
  margin: 50px 0px;
}

#nh-lyrics-loader{
  position: absolute;
  width:100%;
  height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
  animation: fade-in 0.3s ease-in;
}


#nh-lyrics-loader img{
  transition: all 0.3s;
  box-shadow: 0px 0px 10px white;
  border-radius: 10px;
  width: 300px
}


.nh-lyrics__song-name,
.nh-lyrics__album-name,
.nh-lyrics__artist-name{
  font-size: 20px;
}

.nh-lyrics__lyrics{
  line-height: 25px;
}

#nh-lyrics-close{
  outline:none;
  border:none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: white;
  align-self: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 5px #a3a3a3;
}

#nh-lyrics-close:hover{
  /* transition: all 0.3s; */
  /* border: 1px solid black; */
  background-color: grey;
  color: white;
  box-shadow: 0px 0px 7px grey;
}

.nh-suggestion-page {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}





.nh-suggestion-card {
  cursor: pointer;
  margin: 10px;
  height: 200px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgb(204, 204, 204);
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr 1fr;
  grid-template-areas: "albumcover artistcover"
                        "song song"
                        "artist artist";
  align-items: center;

  /* animation: fade-in 0.3s ease-in-out; */
}


.nh-suggestion-card:hover {
  transition: all 0.1s;
  transform: scale(1.01);
  box-shadow: 0px 2px 10px rgb(204, 204, 204);
}


.nh-card__album-cover{
  grid-area:albumcover;
  width: -webkit-fill-available;
}


.nh-card__artist-cover{
  grid-area:artistcover;
  width: -webkit-fill-available;
}

.nh-card__song-name {
  font-weight: 500;
  grid-area: song;
  align-self: end;
}

.nh-card__artist-name {
  grid-area: artist;
  align-self: start;
}

.nh-card__song-name, .nh-card__artist-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}


.nh-card__album-cover {
  border-radius: 10px 0px 0px 10px;
}

.nh-card__artist-cover {
  border-radius: 0px 10px 10px 0px;
}



/* .nh-suggestion-card:hover .nh-cassette-fly {
  animation: fly-rotate 3s linear 0s infinite;
} */


.nh-card-dummy {
  background-color: white;
  background-image: linear-gradient(90deg, transparent, rgb(160 160 160 / 20%), transparent);
  animation: card-loader 1s cubic-bezier(0, 0.79, 1, 0.36) infinite;
  cursor: default;
}





@keyframes card-loader{
  0% {
    background-position-x: 0px;
  }

  100%{
    background-position-x: 300px;
  }
}


@keyframes fly-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1100px) {
  .nh-suggestion-page {
    grid-template-columns: 1fr 1fr;
  }

  #nh-song-search {
    width: 400px;
  }

  .nh-lyrics-content{
    width: 600px;
    padding: 30px;
  }

  #nh-lyrics-loader img {
    width: 400px
  }
}

@media only screen and (min-width: 1100px) {
  .nh-suggestion-page {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #nh-song-search {
    width: 500px;
  }

  .nh-lyrics-content {
    width: 700px;
    padding: 50px;
  }

  #nh-lyrics-loader img {
    width: 500px
  }
}
